@model TshirtCo_NN.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StockLvl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StockLvl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Colours.ColourName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Colours.ColourName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Small)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Small)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Medium)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medium)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Large)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Large)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.XLarge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.XLarge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categories.CategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
