@model IEnumerable<TshirtCo_NN.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Small)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Large)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XLarge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Image)" width="80px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colours.ColourName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Small)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Large)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XLarge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.ProductId">delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
